.image {
  position: relative;
  border-radius: 10px;
  width: 250px;
  height: 200px;
  overflow: hidden;
}
.burgerCard {
  color: #2e2e2e;
  display: grid;
  grid-template-columns: repeat(auto-fit minmax(100px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 10px;
  margin-bottom: 20px;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  max-width: 400px;
  max-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.043) 0px 0px 5px 3px;
}
.burgerCard h3 {
  margin-top: 0;
}
