.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 1rem;
}

.title {
  font-size: 44px;
}

.burger {
  position: relative;
  width: 400px;
  height: 300px;
}
.text {
  font-size: 18px;
  text-align: justify;
  max-width: 90%;
  padding: 10px;
}
